.App {
  text-align: center;
}

/* Simple SVG Christmas Lights Animation */

body {
  background: #be050b;
  font-family: 'Neucha', cursive;
  color: rgba(215, 174, 123, 1);
}

.valyora {
  color: rgba(12, 17, 66, 0.82);
}

.normal-days {
  font-size: 2em;
  margin: 20px 20px;
}

.business-days {
  font-size: 1.3em;
}

.note {
  position: fixed;
  bottom: 20px;
  left: 20px;
  max-width: 150px;
  text-align: left;
  font-style: italic;
  color: rgba(12, 17, 66, 0.82);
}

@media screen and (min-device-width: 850px) {
  #christmas-lights {
    height: 100%;
  }
  h1 {
    margin-top: 140px;
    font-size: 3.8em;
  }
}

@media screen and (max-device-width: 849px) {
  #christmas-lights {
    height: auto;
  }
  h1 {
    margin-top: 80px;
    font-size: 2.8em;
  }
}

@media screen and (max-device-width: 500px) {
  #christmas-lights {
    height: auto;
  }
  h1 {
    margin-top: 80px;
    font-size: 2.8em;
  }
  .note {
    max-height: 30px;
    max-width: 400px;
    font-size: 0.7em;
    bottom: 10px;
  }
  .normal-days {
    font-size: 1.4em;
  }
  .business-days {
    font-size: 1em;
  }
}


#christmas-lights {
  margin: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000
}

.light_cord {
  fill: none;
  stroke: #174700;
}

.light_fixture {
  fill: #134413;
}

.red_bulb {
  fill: #CA2128;
  stroke: #6D6D6D;
  stroke-miterlimit: 10;
}

.green_bulb {
  fill: #2D754A;
  stroke: #6D6D6D;
  stroke-miterlimit: 10;
}

.blue_bulb {
  fill: #2C3EA8;
  stroke: #6D6D6D;
  stroke-miterlimit: 10;
}

.white_bulb {
  fill: #F5EED7;
  stroke: #6D6D6D;
  stroke-miterlimit: 10;
}

.gold_bulb {
  fill: #ffcc5e;
  stroke: #6D6D6D;
  stroke-miterlimit: 10;
}


/* Simply changing the opacity of the SVG fill to create the glow effect for the bulbs */

.bulb {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: glow;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  animation-name: glow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@-webkit-keyframes glow {
  0% {
    fill-opacity: 0.25;
  }
  100% {
    fill-opacity: 1
  }
}

@keyframes glow {
  0% {
    fill-opacity: 0.25;
  }
  100% {
    fill-opacity: 1.0
  }
}


/* Made a set of ten animation delays to create a more random effect of lights blinking.  Simplest way without jumping through SVG hoops. */

.blink-1 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.blink-2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.blink-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.blink-4 {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.blink-5 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.blink-6 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.blink-7 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.blink-8 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.blink-9 {
  -webkit-animation-delay: 0.95s;
  animation-delay: 0.95s;
}

.blink-10 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

#canvas {
  position: fixed;
  top: 0px;
  /*margin-top: -20px;*/
}
